# ignore node dependency directories
node_modules/

# ignore lock files
composer.lock
package-lock.json

# ignore generated css and js
assets/css

# ignore .DS_Store, .ds_store
.DS_Store
.ds_store

# ignore vendor
vendor

# ignore log files and databases
*.log
*.sql
*.sqlite
