.gridly-app-card {
    position: relative;
    box-shadow: 5px 5px 40px 2px rgba(0, 0, 0, 0.2),
        -5px -5px 40px 2px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    transition: 0.4s;

    .card-image {
        width: inherit;
        height: inherit;
        border-radius: 40px;

        a {
            width: inherit;
            height: inherit;
            border-radius: 40px;
            object-fit: cover;

            img {
                width: inherit;
                height: inherit;
                border-radius: 40px;
                object-fit: cover;
            }
        }
    }

    .card-title {
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        padding: 5px;
        color: #ffffff;
        word-wrap: break-word;

        a {
            color: #ffffff;
        }
    }

    &:hover {
        transform: scale(0.95, 0.95);
        box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
            -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
    }
}
