.gridly-pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    .page-numbers {
        padding: 5px;
        margin: 0 5px;
    }

    .current {
        color: #ffffff;
        background: rgb(33, 101, 228);
        padding: 0 12px;
        border-radius: 5px;
    }
}
